body {
  margin: 0;
  font-family: Arial;
}

/* Splash */
#splash {
  height: 100vh;
  background: linear-gradient(135deg,#2f7d7a,#3fa9a5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

/* Main */
#main {
  display: none;
  height: 100vh;
  background: linear-gradient(135deg,#2f7d7a,#3fa9a5);
  text-align: center;
  padding-top: 80px;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #2f7d7a;
  color: white;
  border: none;
}

/* Pages (FIXED BUG HERE) */
#adminPage, #registerPage {
  display: none;
  height: 100vh;
  background: linear-gradient(135deg,#2f7d7a,#3fa9a5);
  justify-content: center;
  align-items: center;
}

/* Back Button */
.top-bar {
  position: absolute;
  top: 20px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.top-bar:hover {
  opacity: 0.8;
}

.arrow {
  font-size: 20px;
}

/* Card */
.login-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
}

/* Inputs */
.login-card input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

/* Password */
.password-box {
  display: flex;
  align-items: center;
}

.password-box input {
  flex: 1;
}

.password-box span {
  cursor: pointer;
  margin-left: 10px;
}

/* Link */
.link {
  color: #2f7d7a;
  cursor: pointer;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
